<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/Akshata/IdeaProjects/RestAssuAPIAssignemnt/src/test/java/APIAuth"><classes><class name="APIAuth.MissingEmail_TC04"><methods><include name="WrongEmailPostMethod"/></methods></class><class name="APIAuth.MissingPAssword_TC03"><methods><include name="WrongPasswordPostMethod"/></methods></class><class name="APIAuth.TestInvalidLogin_TC02"><methods><include name="WrongCredentialsPostMethod"/></methods></class><class name="APIAuth.TestValidLogin_TC01"><methods><include name="ValidLoginPostMethod"/></methods></class></classes></test></suite>